#account-settings-container{
    color: white;

    button{
        font-size: 14px;
        padding: 10px 16px;
        background-color: #747f8d;
        border-radius: 5px;
        color: white;
        border: none;
        outline: none;
    }

    button:hover{
        background-color: #68727f;
    }

    button:active{
        background-color: #5d6671;
    }

    .current-user-property-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin-top: 24px;

        .current-user-property{
            width: 520px;
            margin-right: 16px;
            box-sizing: border-box;
            height: 40px;
            span{
                color: #8e9297;
                font-size: 12px;
                padding-bottom: 4px;
                display: block;
                
            }
            div{
                font-size: 16px;
            }
        }
        
    }
    .current-user-property-container:first-child{
        margin-top: 0;
    }

    #account-settings-header{
        font-weight: bold;
        text-transform: capitalize;
        font-size: 16px;
        margin-bottom: 20px;
    }
    #account-settings-edit-container{
        background-color: #2f3136;
        border-radius: 10px;
        padding: 16px;

        #account-settings-edit-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            div{
                display: flex;
                align-items: center;
                img{
                    width: 95px;
                    height: 95px;
                    box-sizing: border-box;
                    border-radius: 50%;

                }
                h5{
                    font-size: 22px;
                    font-weight: bold;
                    margin-left: 27px;
                }
            }
            
        }
        #account-settings-edit-body{
            background-color: #36393f;
            border-radius: 10px;
            padding: 16px;
            margin-top: 16px;
        }
    }
}

.modal-child{
    
}