
.channel-list-item{
    height: 34px;
    width: 100%;
    border-radius: 5px;
    background-color: inherit;
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
    color: #8e9297;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    .fa-hashtag{
      font-size: 18px;
      margin-right: 10px;
      color: #8e9297;
      
    }
    
    
    div{
      
      height: 16px;
        
      
    }
    
}

.channel-list-item:hover{
  background-color: #393c43;
}

.channel-list-item.current-channel{
    background-color: #393c43;
    div{
      color: white;
    }
}

#channel-list{
  ul{
    div{
      .react-contextmenu{
   
        .delete-channel-menu-item.react-contextmenu-item{
          color:#f04747 ;
        }
        .delete-channel-menu-item.react-contextmenu-item:hover{
            background-color: #f04747;
            color: white;
        }

        
    }
    }
  }
}