#landing{
    display: flex;
    flex-direction: column;
    width: auto;

    #landing-home{
        height: 625px;
        background-color: #2a5ee8;
        // background-color: #7196ff;
        // background-color: #2a5ee8;
        position: relative;
       
        
        header{
            margin: auto;
            width: 1180px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 1;
            height: 80px;
            
            #session-links{
                height: 100%;
                display: flex;
                
                a{
                    
                    background-color: white;
                    color: black;
                    
                    
                }

                a:hover{
                    color: #7289da;
                   box-shadow: 0px 0px 5px 1px blue;
                }
               
                
            }
            
        }
        #landing-home-body{
            padding: 120px 40px 120px 40px;
            width: 1180px;
            height: 291px;
            color: white;
            position: relative;
            z-index: 1;

            

            h1{
                width: 780px;
                height: 67px;
                font-size: 56px;
                font-weight: 780;
                text-align: center;
                margin: auto;
               
                
            }

            h3{
                width: 780px;
                height: 96px;
                margin: auto;
                margin-top: 40px;
                font-size: 20px;
                text-align: center;
                line-height: 1.5;
            }

            #landing-home-links{
                width: 780px;
                height: 80px;
                display: flex;
                justify-content: center;
                margin:auto;
                a{
                   
                    background-color: black;
                    margin: 24px 0 0 0;
                    color: white;
                }

                a:hover{
                    background-color: #36393f;
                    box-shadow: 0px 0px 5px 1px #36393f;
                }

                a:first-child{
                    background-color: white;
                    color: black;
                    margin: 24px 24px 0 0;
                }

                a:first-child:hover{
                    color: #7289da;
                    box-shadow: 0px 0px 5px 1px blue;
                }
                
            }
        }
        #background-wallpaper{
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 625px;
            width: 100%;
            object-fit: none;
            box-sizing: border-box;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-image: image-url('splash-wallpaper.jpg');
            
            
        }
        
    }

    .landing-content{
        display: block;
        margin: 0px 40px 0px 40px;
        
        
        width: 1260px;
        margin: auto;
        img{
           
            width: 678px;
            object-fit: scale-down;
        }
        img.discord-logo{
            width: 145px;
        }
        
    }
    
    .link-size-big{
        border-radius: 40px;        
        font-size: 20px;
        text-align: center;
        padding: 16px 32px 16px 32px;
        line-height: 1.2;
    }

    #landing-body{
        display: flex;
        flex-direction: column;
        .landing-content{
            display: flex;
            width: 1180px;
            height: 440px;
            padding: 120px 40px 120px 40px;
            justify-content: space-between;
        }
        #landing-body-1{
            
            height: 680px;
            h1{
                height: 171px;
            }
        }
        #landing-body-2{
            background-color: #f6f6f6;
            height: 680px;
            p{
                margin-top: 50px;
            }
        }
        #landing-body-3{
            
            height: 680px;
        }
        #landing-body-4{
            background-color: white;
            height: 1076px;
            
            .landing-content{
                flex-direction: column;
                align-items: center;
                height: 876.55px;
                width: 1180.550px;
                padding: 120px 40px 80px 40px;
                #landing-big-img{
                    width: 1180px;
                    height: 715.547px;
                    margin-top: 16px;
                }
                p{
                    margin-top: 24px;
                    width: 980px;
                    
                }
                
                text-align: center;
                
            }
        }
        #landing-body-5{
            background-color: white;
            height: 284px;
            
            
            .landing-content{
                flex-direction: column;
                align-items: center;
                position: relative;
                height: 164px;
                padding: 0 40px 0 40px;
                margin-bottom: 120px;
                h3{
                    font-size: 32px;
                    margin-top: 30px;
                    font-weight: 700;
                }
                img{
                    position: absolute;
                    top: 0px;
                }
                a{
                    background-color: #7289da;
                    color: white;
                }
            }
        }
        h1{
            font-size: 40px;
            font-weight: 800;
            
            line-height: 1.25;
        }
        p{
            margin-top: 10px;
            font-size: 20px;
            line-height: 1.55;
        }
        .landing-body-description{
            height: 440px;
            width: 380px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                height: 114px;
            }
            p{
                height: 128px;
                margin-top: 24px;
                
            }
        }
    }

    .link-size-small{
        border-radius: 40px;
        padding: 7px 16px 7px 16px;
        font-size: 14px;
        
        height: 24px;
        align-self: center;
        text-align: center;
        line-height: 24px;
    }

    #landing-footer{
        
        padding: 80px 0 64px 0;
        background-color: #23272a;
        color: white;
        .landing-content:first-child{
            display: flex;
            justify-content: space-between;
            
            div:first-child{
                display: flex;
                flex-direction: column;
                width: 500px;
                margin-bottom: 56px;
                h3{
                    font-size: 32px;
                    font-weight: 600;
                    color: #7289da;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    line-height: 20px;
                    span{
                        margin-bottom: 10px;
                        margin-top: 10px;
                        font-size: 18px;
                        font-weight: bold;
                        color: #b9bbbe;
                    }
                }

            }
            div:nth-child(2){
                display: flex;

                div{
                    display: flex;
                    flex-direction: column;
                    height: 384px;
                    width: 180px;
                    margin-bottom: 40px;
                    margin-left: 5px;
                    h5{
                        font-size: 16px;
                        padding-top: 8px;
                        color: #7289da;
                        margin-bottom: 8px;
                    }
                    ul{
                        li{
                            margin: 5px 0;
                            a{
                                color: #dcddde;
                            }
                            a:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }


        }
        .landing-content:nth-child(2){
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #7289da;
            height: 71px;
            align-items: flex-end;
            a{

                color: white;
                background-color: #7289da;
            }

            a:hover{
                background-color: #8ea1e1;
            }
        }
    }

}