#login{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/session_form_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .discord-logo{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    h2{
        font-size: 24px;
        font-weight: 700;
        color: white;
    }

    h5{
        font-size: 16px;
        color: #8e9297;
    }

    label{
        font-size: 12px;
    }

    #login-form{
        box-shadow: 0px 0px 3px  black;
        width: 720px;
        height: 344px;
        padding: 32px 32px 32px 32px;
        display: flex;
        justify-content: space-between;
        background-color: #36393f;
        border-radius: 5px;
        
        form{
            width: 414px;
            height: 342px;
            display: flex;
            flex-direction: column;
            h2{
                margin-bottom: 8px;
                align-self: center;
            }
            h5{
                align-self: center;
                
                a{
                    color: #7289da;
                }
            }
            #login-signup-link{
                align-self: flex-start;
            }

            label{
                margin-top: 20px;
                color: #8e9297;
                margin-bottom: 8px;
                font-weight: 700;
            }
            input{
                margin-bottom: 8px;
                padding: 10px;
                height: 20px;
                border: 1px #222428 solid;
                border-radius: 5px;
                background-color: #313339;
            }
            button{
                margin-top: 20px;
                margin-bottom: 8px;
                height: 40px;
                border: 0px;
                border-radius: 5px;
                color: white;
                font-weight: 600;
                background-color: #7289da;
            }
            
        }
        #demo-button{
            display: flex;
            flex-direction: column;
            width: 240px;
            height: 344px;
            justify-content: center;
            align-items: center;
            button{
                width: 176px;
                height: 176px;
                margin-bottom: 32px;
            }
            h2{
                margin-bottom: 8px;
            }
            h5{
                text-align: center;
            }
        }
        
    }
}